[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pudb = "*"
pytest = "*"
tox = "*"
wheel = "*"

[packages]
pyperclip = "*"
urwid = "*"

[requires]
python_version = "3.6"
