[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pudb = "*"
pytest = "*"
tox = "*"
wheel = "*"

[packages]
urwid = "*"
pyperclip = ">=1.6.0"

[requires]
python_version = "3.6"
